@{
    ViewBag.Title = "El Hotel";
}



<div id="Historia" class="jumbotron">
    <div class="container">
        <h3 class="display-3">Quienes Somos</h3>
        <p><em>Historia!</em></p>
        <p ALIGN="justify">Somos un confortable hotel que desde hace más de 30 años, ofrece un servicio personalizado,
           amable y de alta calidad, a través de un equipo de trabajo que se esmera día a día para que usted se sienta como en casa.
           Lo que nos hace una buena opción para usted es nuestro ambiente agradable, familiar y acogedor.
           Un edificio pequeño, confortable y convenientemente ubicado en el área comercial de la ciudad; eso es lo que nos hace diferentes.
           Contamos con 16 habitaciones, con servicio privado y desayuno de cortesía. Tarifas especiales para grupos y estudiantes, por semana, quincena .
        </p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div id="Mision" class="col-md-6">
            <h3>Misión</h3>
            <p ALIGN="justify">
                Estamos dedicados a la prestación de servicios turísticos.
                Buscamos superar las expectativas de nuestros visitantes;
                brindándoles servicios de alta calidad, con una infraestructura buena,
                personal capacitado y competente.
                Nuestra cultura empresarial está enfocada en el respeto y apoyo a nuestra gente,
                a su cultura; y en el cuidado de nuestros recursos y el medio ambiente.
                De esta manera contribuimos al desarrollo económico y sostenible de nuestra comunidad.
            </p>
        </div>
        <div id="Vision" class="col-md-6" >
            <h3 >Visión</h3>
            <p ALIGN="justify">
                Ser reconocido para el año 2021, como el Hotel líder en la región,
                siendo la mejor opción para la realización de eventos, congresos, y convenciones,
                y a su vez la mejor opción para su descanso y diversión en el Quindio.
                Teniendo en cuenta el desarrollo sostenible a través de los procesos ambientales,
                asegurando estabilidad laboral a nuestros colaboradores,
                generando empleo en la región y manteniendo altos estándares de calidad en la prestación del servicio.
            </p>
        </div>
    </div>
</div>

<div id="valores" class="jumbotron">
    <div class="container">
        <h3>Valores</h3>
        <p ALIGN="justify"><em>Los principales valores que guían el accionar del grupo de personas que conformar Banff Hotel son:</em></p>
        <dl class="dl-horizontal">
            <dt>Compromiso</dt>
            <dd ALIGN="justify">de satisfacer y exceder todas las expectativas de nuestros huéspedes y clientes.</dd>
            <dt>Respeto</dt>
            <dd ALIGN="justify">a todos nuestros huéspedes, clientes, accionistas, colaboradores, proveedores y miembros de la comunidad como medio para promover relaciones armoniosas.</dd>
            <dt>Integridad</dt>
            <dd ALIGN="justify">en cada una de nuestras acciones, enfrentando todas las situaciones con honestidad, honradez y rectitud.</dd>
            <dt>Innovación</dt>
            <dd ALIGN="justify">dirigida a ofrecer facilidades modernas para hacer más confortable la estadía, agilizar las comunicaciones y mejorar la experiencia de todos nuestros usuarios.</dd>
            <dt>Responsabilidad</dt>
            <dd ALIGN="justify">con la gente, el medio ambiente, la historia, cultura e idiosincrasia bocatoreña a fin de mantener la sostenibilidad y sustentabilidad del turismo de nuestra región.</dd>
        </dl>
    </div>
</div>



<style>
    #Mision {
        background-color:chartreuse;
    }

        #Vision {
        background-color:#ffd800;
    }

    #valores {
        background-color: #fccb96;
        color: #000000;
    }
    #Historia {
        background-color:#aebee9;
        color:#000000;
    }
</style>